<div class="container-sm p-5 main-vh-100">
    <div class="row d-flex">
        <div class="border-end col-10">
            <div class="row min-vh-75 p-10 border-bottom">
                <div id="post-header" class="col-7 m-0">
                    <div class="col-12 " id="post-title">
                        <h2 class="mb-0">{{post.post_title}}</h2>
                        <p class="mb-0"><small>Author: <span>{{username}}</span></small></p>
                        {{#if post.tags}}
                        <label for="#tag-list">
                            <small>Tags:</small>
                            <ul id="tag-list" class="d-inline">
                                {{#each post.tags as |tag|}}
                                <li class="d-inline">
                                    {{tag.tag_name}}
                                </li>
                                {{/each}}
                            </ul>
                        </label>
                        {{/if}}
                    </div>
                </div>
                <div id="post-header-data" class="col-4 d-flex float-end">
                    <div class="justify-content-end">
                        <p>Posted at: {{format_time post.created_at}}</p>
                        <label class="form-label select-label">Sort by:</label>
                        <select class="select">
                            <option value="1">Newest</option>
                            <option value="2">Oldest</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            <div class="col-12 mt-20 d-flex" id="full-post-container">
                <div class="card col-10 mt-2 b-1 justify-content-center">
                    <p class="card-text mh-100 overflow-auto post-content" id="post-content">{{post.post_content}}</p>
                    <div id="comment-card" class="w-100 border-top col-10">
                        <button type="button" class="btn btn-light" id="comments-btn">Comments</button>
                        
                        <div class="collapse flex overflow-auto" id="commentSection">
                            {{> commentForm }}
                            <div id="comment-list" class="mt-20px">
                                {{#each comments as |comment|}}
                                {{> comment comment }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> side_bar }}
    </div>
</div>